<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Races Show</title>
  </head>
  <body>
    <h1><%= race.name %></h1>

    <ul>
      <li><a href="/races/<%= race._id %>/units">See units for this race</a></li>
    </ul>
  </body>
</html>
