<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="https://api.instagram.com/oauth/authorize/?client_id=c5aedcc9740b4fcaa039215f9ee0d8d4&redirect_uri=http://localhost:3000/callback&response_type=code&scope=public_content+basic">Log in to Instagram</a>
  </body>
</html>
