<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cards Against Assembly™</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div class="container">
    <header class="navbar">
      <h1 class="pull-left">Cards Against Assembly</h1>
    </header>

    <nav class="tabs">
      <a href="#/">Home</a>
      <a href="#/new">Add a New Card</a>
      <a href="#/about">About</a>
    </nav>

    <section id="cards" class="container-fluid">
      <div class="row">

        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card">
            <h4 class="card-title">QUESTION</h4>
            <h6>Cards Against Assembly</h6>
          </div>
        </div>

      </div>
    </section>

    <footer>
      <p>Made with <span class="heart">♥︎</span> at General Assembly</p>
    </footer>
  </div>
</body>
</html>
