<!DOCTYPE html>
<html lang="en" ng-app="CardsAgainstAssembly">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cards Against Assembly™</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/cardsController.js"></script>
    <script src="/javascripts/cardView.js"></script>
</head>
<body>
  <div class="container" ng-controller="CardsController as cardCtrl">
    <header class="navbar">
      <h1 class="pull-left">Cards Against Assembly</h1>
    </header>

    <nav class="tabs">
      <a ui-sref-active="active" ui-sref="home">Home</a>
      <a ui-sref-active="active" ui-sref="new">Add a New Card</a>
      <a ui-sref-active="active" ui-sref="about">About</a>
    </nav>

    <div ui-view></div>

    <footer>
      Made with <span class="heart">♥︎</span> at General Assembly
    </footer>
  </div>
</body>
</html>