body {
  margin: 3em;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Serif', serif;
}

h1 {
  line-height: 1.25;
  margin: 1em 0 .5em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
}

p {
  margin: .5em 0;
}

#switcher {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#switcher li {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 8px;
  border-radius: 18px;
  border: 3px solid black;
}
/* -----------------------------------
STYLES USED IN JS 
--------------------------------------*/

.red-theme {
  background: red;
}

.white-theme {
  background: white;
}

.blue-theme {
  background: blue; 
  color: white;
}

.yellow-theme {
  background: yellow;
}