<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>GA Express</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>

#main {
  margin: 30px;
}

footer {
  font-size: 80%;
  color: gray;
}

</style>
</head>
<body>
  <h1>GA Express</h1>
  <div id="main">
