body {
  max-width:40em;
  margin:auto;
  padding:2em;
  background-color: #fafafa;
  font-size: 18px;
  font-family:"Helvetica Neue", sans-serif;
}

h1 {
  font-size: 3em;
  color: #44619D;
}

#nav {
  margin-bottom: 4em;
}

a {
  display: inline-block;
  width: 5em;
  height: 2em;
  margin: 0 1em 0 0;
  border-radius: 5px;
  background-color: #44619D;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  line-height: 2em;
  color: #fafafa;
}

img {
  width: 100%;
  border-radius: 10px;
}

.post {
  margin-bottom: 4em;
}
