<% include userlayout %>

</head>

<body class="user">
    <img src="<%= user.picture %>" alt="<%= user.nickname%>">
    <h2>Welcome <%= user.nickname%>! </h2>
    <br>
    <a href="/logout">Logout</a>
  </body>
</html>
